/* Main Elements */

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}


/* Sections */

.colored-section {
    background-color: #113CFC;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

.container-fluid {
    padding: 40px 80px 100px;
}


/* Navigation Bar */

.navbar {
    padding: 0 20px;
}

.navbar-nav {
    padding: 20px 20px 0;
}

.nav-item {
    padding: 0 20px;
    text-align: right;
}

.nav-link {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
}


/* Title Section */

#title .container-fluid {
    padding: 90px 150px 150px;
}

.title-heading {
    padding: 60px;
}

.title-img {
    width: 60%;
    border-radius: 2rem;
}

.web-developer-italic {
    font-style: italic;
}


/* Bio Section */

.bio-box {
    margin: 60px auto;
    width: 70%;
}

.production-foreman {
    padding: 1%;
    text-align: left;
}

.chemical_plant-img {
    float: left;
    margin-right: 30px;
    width: 25%;
}

.home-hobby-distiller {
    text-align: right;
}

.home_hobby_distiller-img {
    float: right;
    margin-left: 30px;
    width: 25%;
}

.web-developer {
    text-align: left;
}

.web_developer-img {
    float: left;
    margin-right: 30px;
    width: 25%;
}


/* Education Section */

#education {
    color: #fff;
}

#education p {
    color: #fff;
    line-height: 2.5;
}

.education-box {
    margin: 40px auto;
    padding: 2%;
}

.icon {
    color: #fff;
    margin-bottom: 2rem;
    padding-bottom: 5%;
}


/* Pseudo Section */

#education a:link {
    text-decoration: underline;
    color: #fff;
    font-style: unset;
}

#education a:visited {
    text-decoration: none;
    color: #1597E5;
}

#education a:hover {
    text-decoration: none;
    color: #193498;
}

#education a:active {
    text-decoration: underline;
}


/* Work Experience Section */

.work-experience-table {
    margin: 60px auto;
    width: 95%;
}


/* Skills Section */

.skills-table_progress {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.skills-table_progress .skills-table_skills {
    flex: 3.5 0 1%;
}

.skills-table_progress .skills-table_skills {
    text-align: right;
}

.skills-table_progress .progress {
    margin: 25px 50px;
    flex-grow: 12;
    height: 25px;
}


/* Hobbies Section */

.hobbies-img {
    margin: 40px 20px;
    width: 50%;
}

.hobbies-text {
    font-size: 3rem;
    line-height: 1.5;
}

#hobbies-carousel {
    margin: 50px auto 100px;
}


/* Contact Me */

.contact-message {
    margin: 40px auto 60px;
    width: 40%;
}

#contact-me .container-fluid {
    padding-bottom: 10px;
}

.contact-me-box {
    margin: 60px auto;
    line-height: 5;
}


/* Footer Section */

#footer .container-fluid {
    padding-bottom: 0;
}

#footer a {
    color: #113CFC;
    /*font-family: 'montserrat', sans-serif; */
    margin: 10px 20px;
    text-decoration: none;
}

#footer a:hover {
    color: #1597E5;
}

.copyright {
    color: #8f8f8f;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-icon {
    margin: 20px 10px;
}

